@{
    ViewBag.Title = "Forgot Password Confirmation";
    string pwResetLink = TempData["ResetPasswordLink"] == null ? "#" : TempData["ResetPasswordLink"].ToString();
}

<h1>Forgot Password Confirmation</h1>

<p>
    An email with instructions to reset your password has been sent to your email address. 
    Please follow the instructions provided in the email to reset your password.
</p>


<a class=" link-info" href="@pwResetLink">One time link here</a>