@section styles {
    <link rel="stylesheet" href="/css/theme/dashboard.css" />
    <style>
        h1 {
            width:700px;
            margin:0 auto;
            text-align:center;
        }

       
    </style>
}
@{
    ViewBag.Title = "Dashboard";
}

<h1 class="">Content Creator Dashboard</h1>

<div class="text-center">
    <div class="dashboard-buttons-container">
    
    <a asp-action="Create" asp-controller="Quiz" asp-area="ContentCreator" class="dashboard-img-button link-sm">
        <div class="dashboard-img-button--img-container">
            <img class="dashboard-img-button--img" src="~/assets/img/cc-dashboard-button-1.png" />
        </div>
        CREATE NEW QUIZ
    </a>

    <a asp-action="List" asp-controller="Quiz" asp-area="ContentCreator" class="dashboard-img-button link-sm">
        <div class="dashboard-img-button--img-container">
            <img class="dashboard-img-button--img" src="~/assets/img/cc-dashboard-button-2.png" />
        </div>
        VIEW ALL QUIZZES
    </a>
    
</div>
</div>
